body, aside, section, h1, h2, figure, footer, ol, li, ul, img {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    width: inherit;
} 

ol {
    font-style: inherit;
}

body {
    line-height: 1.5;
}

img {
    width: 100%;
}